.breadcrumbs__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin: -5px 0 0 0;
  padding: 0;
  .breadcrumbs__item:last-child {
    .breadcrumbs__link {
      text-decoration: none;
      pointer-events: none;
    }
  }
}
.breadcrumbs__item {
  position: relative;
  list-style: none;
  &::after {
    font-size: 12px;
    margin: 0 6px 0 3px;
    content: '|';
  }
  &:last-child {
    &::after {
      display: none;
    }
  }
}
.breadcrumbs__link {
  font-family: $font-light;
  font-size: 15px;
  white-space: nowrap;
  text-decoration: none;
  color: #888;
}
