.mobile__logo {
  display: none;
  margin-top: 40px;

  @include max(560) {
    display: block;
  }
  h1 {
    position: absolute;
    text-indent: -9999px;
  }
  svg {
    display: block;
    overflow: visible;
    width: 90%;
    max-height: 70px;
    margin: 0 auto;
    fill: #662479;
  }
  img {
    display: block;
    overflow: visible;
    width: 90%;
    max-height: 70px;
    margin: 0 auto;
  }
}
.connect,
.family {
  .mobile__logo {
    margin-bottom: 30px;
  }
}
