.popup__layer {
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  background-color: rgba(0, 0, 0, .8);
}
.popup__wrap {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
}
.popup {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  display: none;
  // overflow-y: scroll;
  width: 90%;
  max-width: 730px;
  max-height: 90vh;
  padding: 65px 55px;
  transform: translate(-50%, -50%);
  pointer-events: auto;
  border-radius: 3px;
  background-color: #fff;
}
.popup__close {
  position: absolute;
  cursor: pointer;
  top: 20px;
  right: 20px;

  width: 20px;
  height: 20px;
  svg {
    width: 20px;
    pointer-events: none;
    height: 20px;
  }
}
.popup__title {
  font-family: $font-l-black;
  font-size: 30px;
  margin-bottom: 30px;
  text-align: center;
  color: #000;
}
.popup__subtitle {
  font-family: $font-l-bold;
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: #662479;
}
