//begin footer
footer.footer
  .container
    .footer-social
      a(href="#" target="_blank" rel="nofollow noopener noreferrer").footer-social__item.footer-social__item--up
      a(href="#" target="_blank" rel="nofollow noopener noreferrer").footer-social__item.footer-social__item--hb
      a(href="#" target="_blank" rel="nofollow noopener noreferrer").footer-social__item.footer-social__item--yt
      a(href="#" target="_blank" rel="nofollow noopener noreferrer").footer-social__item.footer-social__item--fb
      a(href="#" target="_blank" rel="nofollow noopener noreferrer").footer-social__item.footer-social__item--tw

    a(href="mailto:inna@inna.com.ua").footer-mail
      svg
        use(xlink:href="assets/img/sprite.svg#mail")
      span Написати мені,
      br
      span.footer-mail__link inna@inna.com.ua
include ../elements/popup

//end   footer