// begin header
header.header
  .container
    include ../elements/menu

    .header__search-controls
      button.header__search-open
        svg.header__search-svg
          use(xlink:href="assets/img/sprite.svg#search")
      button.header__search-close
        svg.header__search-svg
          use(xlink:href="assets/img/sprite.svg#close")

    // begin смена языка
    .header-lang
      .header-lang__selected
        span Укр
      ul.header-lang__list
        li.header-lang__item
          a(href="#").header-lang__link.active Укр
        li.header-lang__item
          a(href="#").header-lang__link Рус
        li.header-lang__item
          a(href="#").header-lang__link Eng
    //- .header__lang
      select.header__lang-select.selectmenu
        option(value="Укр") Укр
        option(value="Рус") Рус
        option(value="Eng") Eng
    // end смена языка

    // begin поле поиска
    .header__search
      form.header__search-form
        input.header__search-input(type='search', name='', placeholder='Поиск по сайту')
        .header__search-submit--wrap
          input.header__search-submit(type='submit', name='', value='')
          svg.header__search-svg
            use(xlink:href="assets/img/sprite.svg#search")
    // end поле поиска

  // begin ticker
  .ticker
    .ticker__viewport
      .ticker__list(data-ticker="list")
        a.ticker__item(data-ticker="item") 1 Презентация книги «Майбутрнє починається сьогодні» в Одессе - 15 мая, в Киеве 12 июня, в Днепре - 16 июня 
          span (22.04.2017)
        a.ticker__item(data-ticker="item") 2 Презентация книги «Майбутрнє починається сьогодні» в Одессе - 15 мая, в Киеве 12 июня, в Днепре - 16 июня 
          span (22.04.2017)
        a.ticker__item(data-ticker="item") 3 Презентация книги «Майбутрнє починається сьогодні» в Одессе - 15 мая, в Киеве 12 июня, в Днепре - 16 июня 
          span (22.04.2017)
        a.ticker__item(data-ticker="item") 4 Презентация книги «Майбутрнє починається сьогодні» в Одессе - 15 мая, в Киеве 12 июня, в Днепре - 16 июня 
          span (22.04.2017)
        a.ticker__item(data-ticker="item") 5 Презентация книги «Майбутрнє починається сьогодні» в Одессе - 15 мая, в Киеве 12 июня, в Днепре - 16 июня 
          span (22.04.2017)
        a.ticker__item(data-ticker="item") 6 Презентация книги «Майбутрнє починається сьогодні» в Одессе - 15 мая, в Киеве 12 июня, в Днепре - 16 июня 
          span (22.04.2017)
        a.ticker__item(data-ticker="item") 7 Презентация книги «Майбутрнє починається сьогодні» в Одессе - 15 мая, в Киеве 12 июня, в Днепре - 16 июня 
          span (22.04.2017)
  // end ticker

// end   header