//begin menu
nav.menu#menu
  include ../elements/burger

  ul.menu__list
    li.menu__item.menu__item--left
      a(href="#").menu__link
        svg
          use(xlink:href="assets/img/sprite.svg#menu-man")
        span Про мене
      ul.submenu-list
        li.submenu__item
          a(href="#").submenu__link Мій рід
        li.submenu__item
          a(href="#").submenu__link Моя праця
        li.submenu__item
          a(href="#").submenu__link Моє життя
        li.submenu__item
          a(href="#").submenu__link Фото
    li.menu__item.menu__item--left
      a(href="#").menu__link
        svg
          use(xlink:href="assets/img/sprite.svg#menu-portfel")
        span Політика
      ul.submenu-list
        li.submenu__item
          a(href="#").submenu__link Мій рід
        li.submenu__item
          a(href="#").submenu__link Моя праця
        li.submenu__item
          a(href="#").submenu__link Моє життя
        li.submenu__item
          a(href="#").submenu__link Фото
    li.menu__item.menu__item--left
      a(href="#").menu__link
        svg
          use(xlink:href="assets/img/sprite.svg#menu-folder")
        span Приєднатися
      ul.submenu-list
        li.submenu__item
          a(href="#").submenu__link Мій рід
        li.submenu__item
          a(href="#").submenu__link Моя праця
        li.submenu__item
          a(href="#").submenu__link Моє життя
        li.submenu__item
          a(href="#").submenu__link Фото
    li.menu__item.menu__item--logo.menu__item--logo-ukr.active
      h1 Інна Богословська
      a(href="#")
        svg
          use(xlink:href="assets/img/sprite.svg#logo-ukr")
    li.menu__item.menu__item--logo.menu__item--logo-ru
      h1 Інна Богословська
      a(href="#")
        svg
          use(xlink:href="assets/img/sprite.svg#logo-ru")
    li.menu__item.menu__item--logo.menu__item--logo-eng
      h1 Інна Богословська
      a(href="#")
        svg
          use(xlink:href="assets/img/sprite.svg#logo-eng")
    li.menu__item.menu__item--right
      a(href="#").menu__link
        svg
          use(xlink:href="assets/img/sprite.svg#menu-wallet")
        span Підтримати
      ul.submenu-list
        li.submenu__item
          a(href="#").submenu__link Мій рід
        li.submenu__item
          a(href="#").submenu__link Моя праця
        li.submenu__item
          a(href="#").submenu__link Моє життя
        li.submenu__item
          a(href="#").submenu__link Фото
    li.menu__item.menu__item--right
      a(href="#").menu__link
        svg
          use(xlink:href="assets/img/sprite.svg#menu-plan")
        span План розвитку
      ul.submenu-list
        li.submenu__item
          a(href="#").submenu__link Мій рід
        li.submenu__item
          a(href="#").submenu__link Моя праця
        li.submenu__item
          a(href="#").submenu__link Моє життя
        li.submenu__item
          a(href="#").submenu__link Фото
    li.menu__item.menu__item--right
      a(href="#").menu__link
        svg
          use(xlink:href="assets/img/sprite.svg#menu-book")
        span Книга
      ul.submenu-list
        li.submenu__item
          a(href="#").submenu__link Мій рід
        li.submenu__item
          a(href="#").submenu__link Моя праця
        li.submenu__item
          a(href="#").submenu__link Моє життя
        li.submenu__item
          a(href="#").submenu__link Фото
//end   menu