//begin mobile menu
.mobile__logo.mobile__logo-ukr.active
  h1 Інна Богословська
  a(href="#")
    svg
      use(xlink:href="assets/img/sprite.svg#logo-ukr")
.mobile__logo.mobile__logo-ru
  h1 Інна Богословська
  a(href="#")
    svg
      use(xlink:href="assets/img/sprite.svg#logo-ru")
.mobile__logo.mobile__logo-eng
  h1 Інна Богословська
  a(href="#")
    svg
      use(xlink:href="assets/img/sprite.svg#logo-eng")
//end   mobile menu