//begin popup
.popup__wrap
  .popup-life.popup-life-01
    .popup__close
      svg
        use(xlink:href="assets/img/sprite.svg#close")
          
    h3.popup__title Школа, детство и отрочество
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste nemo quod quibusdam consequuntur illum, amet quam iure quisquam minima provident soluta enim cumque vel earum accusantium ea culpa harum, asperiores!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste nemo quod quibusdam consequuntur illum, amet quam iure quisquam minima provident soluta enim cumque vel earum accusantium ea culpa harum, asperiores!

  .popup-life.popup-life-02
    .popup__close
      svg
        use(xlink:href="assets/img/sprite.svg#close")
          
    h3.popup__title Институт
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste nemo quod quibusdam consequuntur illum, amet quam iure quisquam minima provident soluta enim cumque vel earum accusantium ea culpa harum, asperiores!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste nemo quod quibusdam consequuntur illum, amet quam iure quisquam minima provident soluta enim cumque vel earum accusantium ea culpa harum, asperiores!

  .popup-life.popup-life-03
    .popup__close
      svg
        use(xlink:href="assets/img/sprite.svg#close")
          
    h3.popup__title Первая любовь и семья
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste nemo quod quibusdam consequuntur illum, amet quam iure quisquam minima provident soluta enim cumque vel earum accusantium ea culpa harum, asperiores!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste nemo quod quibusdam consequuntur illum, amet quam iure quisquam minima provident soluta enim cumque vel earum accusantium ea culpa harum, asperiores!

  .popup-life.popup-life-04
    .popup__close
      svg
        use(xlink:href="assets/img/sprite.svg#close")
          
    h3.popup__title Любимая и единственная Настенька
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste nemo quod quibusdam consequuntur illum, amet quam iure quisquam minima provident soluta enim cumque vel earum accusantium ea culpa harum, asperiores!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste nemo quod quibusdam consequuntur illum, amet quam iure quisquam minima provident soluta enim cumque vel earum accusantium ea culpa harum, asperiores!

  .popup-life.popup-life-05
    .popup__close
      svg
        use(xlink:href="assets/img/sprite.svg#close")
          
    h3.popup__title Школа души
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste nemo quod quibusdam consequuntur illum, amet quam iure quisquam minima provident soluta enim cumque vel earum accusantium ea culpa harum, asperiores!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste nemo quod quibusdam consequuntur illum, amet quam iure quisquam minima provident soluta enim cumque vel earum accusantium ea culpa harum, asperiores!

  .popup-life.popup-life-06
    .popup__close
      svg
        use(xlink:href="assets/img/sprite.svg#close")
          
    h3.popup__title Адвокатура
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste nemo quod quibusdam consequuntur illum, amet quam iure quisquam minima provident soluta enim cumque vel earum accusantium ea culpa harum, asperiores!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste nemo quod quibusdam consequuntur illum, amet quam iure quisquam minima provident soluta enim cumque vel earum accusantium ea culpa harum, asperiores!

//- .popup__layer
//end   popup