// ***** main colors *******
$brand-color: #662479;

// ***** text colors *******
$text-color: #000;
$title-color: #662479;
$link-color: #2f98cd;
$link-color-hov: #662479;

// ===== fonts =====
$font:            Roboto-Regular, sans-serif;
$font-bold:       Roboto-Bold, sans-serif;
$font-light:      Roboto-Light, sans-serif;
$font-thin:       Roboto-Thin, sans-serif;

$font-l:          Lato-Regular, sans-serif;
$font-l-bold:     Lato-Bold, sans-serif;
$font-l-light:    Lato-Light, sans-serif;
$font-l-black:    Lato-Black, sans-serif;

// ===== sizes =====
$radius-button: 5px;
$radius-tab: 5px;