extends ../_template

block variables
  - var title = 'Блог'
  - var pageHeaderTitle = 'Блог'

block content
  include ../sections/header
  
  //begin content
  section.main.blog
    include ../elements/pageHeader
    
    // BEGIN blog top section
    .container.blog-top
      .blog__left.blog__item-lg(style="background-image: url('assets/img/blog/blog-01.jpg')")
        footer.blog__left-footer
          h3.blog__item-lg-title &#171;Майбутнє починається сьогодні&#187;

      .blog__right
        .blog__right-item
          .blog__right-item--1x1.top
            .blog__item-pic(style="background-image: url('assets/img/blog/blog-02.jpg')")
            h3.blog__right-title В Україні створять комітети Громадянської Дії
            a(href="#").blog__right-link
          .blog__right-item--1x1
            .blog__item-pic(style="background-image: url('assets/img/blog/blog-03.jpg')")
            h3.blog__right-title «Минск» не работает, нужно переходить к Будапештскому формату переговоров
            a(href="#").blog__right-link

        .blog__right-item
          .blog__right-item--1x1.top
            .blog__item-pic(style="background-image: url('assets/img/blog/blog-04.jpg')")
            h3.blog__right-title В Україні створять комітети Громадянської Дії
            a(href="#").blog__right-link
          .blog__right-item--1x1
            .blog__item-pic(style="background-image: url('assets/img/blog/blog-05.jpg')")
            h3.blog__right-title «Минск» не работает, нужно переходить к Будапештскому формату переговоров
            a(href="#").blog__right-link
    // END blog top section

          
    // BEGIN blog bottom section
    .container.blog-bottom
      .blog-bottom__item
        .blog-bottom__pic(style="background-image: url('assets/img/blog/blog-06.jpg')")
        .blog-bottom__right
          h3.blog-bottom__title Название статьи в блоге
          p.blog-bottom__text Училась в харьковской средней школе N5 с 1967 по 1977 год. Школой жила, школу любила, в школе боролась за уважение учителей к ученикам, за чувство собственного достоинства. Не боялась учителей, завучей и директоров, срывала уроки в знак протеста, добивалась своего. Вырывала листы из дневников, хорошо училась, любила алгебру и геометрию, историю и литературу, географию и биологию...
          span.blog-bottom__date 12.06.2017

      .blog-bottom__item
        .blog-bottom__pic(style="background-image: url('assets/img/blog/blog-07.jpg')")
        .blog-bottom__right
          h3.blog-bottom__title Название статьи в блоге
          p.blog-bottom__text Училась в харьковской средней школе N5 с 1967 по 1977 год. Школой жила, школу любила, в школе боролась за уважение учителей к ученикам, за чувство собственного достоинства. Не боялась учителей, завучей и директоров, срывала уроки в знак протеста, добивалась своего. Вырывала листы из дневников, хорошо училась, любила алгебру и геометрию, историю и литературу, географию и биологию...
          span.blog-bottom__date 12.06.2017

      .blog-bottom__item
        .blog-bottom__pic(style="background-image: url('assets/img/blog/blog-08.jpg')")
        .blog-bottom__right
          h3.blog-bottom__title Название статьи в блоге
          p.blog-bottom__text Училась в харьковской средней школе N5 с 1967 по 1977 год. Школой жила, школу любила, в школе боролась за уважение учителей к ученикам, за чувство собственного достоинства. Не боялась учителей, завучей и директоров, срывала уроки в знак протеста, добивалась своего. Вырывала листы из дневников, хорошо училась, любила алгебру и геометрию, историю и литературу, географию и биологию...
          span.blog-bottom__date 12.06.2017
    // END blog bottom section

    include ../elements/pagination

  //end   content

  include ../sections/footer