extends ../_template

block variables
  - var title = 'Присоединяйтесь'
  - var pageHeaderTitle = 'Присоединяйтесь'

block content
  include ../sections/header
  
  //begin content
  section.main.connect
    .connect__header(style="background-image: url('assets/img/connect-header.jpg');")
      include ../elements/pageHeaderCrop
      .connect__top-title--wrap
        h2.connect__top-title
          |Присоединяйтесь
        br
        h2.connect__top-title
          |к нашему проекту

    .container.connect-form__container
      header.connect__top
        h3.connect__title Это займет не более 3 минут.
        span.connect__subtitle
          |Если Вы, так же как и мы, верите, что Украину можно изменить,
          br
          |поддерживаете наши взгляды и убеждения, присоединяйтесь!

      form.connect__form
        .radio
          input(type="radio" id="gender-1" name="gender" value="мужчина" checked)
          label(for="gender-1") Мужчина
        .radio
          input(type="radio" id="gender-2" name="gender" value="женщина")
          label(for="gender-2") Женщина

        .connect__form-row
          input(type="text" placeholder="Имя")
          input(type="text" placeholder="Фамилия")

        .connect__form-row
          input(type="text" placeholder="Почтовый адрес")

        .connect__form-row
          select.selectmenu
            option Страна
            option Украина
            option Германия
            option Канада
          input(type="text" placeholder="Индекс")
          select.selectmenu
            option Город
            option Киев
            option Мюнхен
            option Квебек
        
        .connect__form-row-half.connect-row__title.connect-row__title-email
          input(type="text" placeholder="E-mail")
        
        .connect__form-row-half.connect-row__title
          .connect-row__title-text Дата рождения
          select.selectmenu
            option День
            option 01
            option 02
            option 03
            option 03
            option 03
            option 03
            option 03
            option 03
            option 03
            option 03
            option 03
            option 03
            option 03
            option 03
            option 03
            option 03
            option 03
            option 03
            option 03
          select.selectmenu
            option Месяц
            option Январь
            option Февраль
            option Март
            option Апрель
            option Май
            option Июнь
            option Июль
          select.selectmenu
            option Год
            option 1970
            option 1980
            option 1990
            option 2000
        
        .connect__form-row-half.connect-row__title
          .connect-row__title-text Телефон
          select.selectmenu
            option Украина (+38)
            option Канада (+38)
          input(type="text" placeholder="Телефон").f-2
        
        .connect__form-row-half.connect-row__title
          .connect-row__title-text Профессия
          select.selectmenu
            option Почтовый адрес 1
            option Почтовый адрес 2
            option Почтовый адрес 3

        .checkbox
          input(type="checkbox" id="agree" checked)
          label(for="agree")
            span
              | Да я согласен с
              =" "
              a(href="#") правилами устава
              =" "
              |и на обработку персональных данных

        .checkbox
          input(type="checkbox" id="spam")
          label(for="spam")
            span Получать новости на почту

        .checkbox
          input(type="checkbox" id="r2d2")
          label(for="r2d2")
            span Я не робот

        input(type="submit" value="Отправить").connect-form__submit.popup-open
      
      .connect__bottom
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti recusandae repellat sed inventore id minus magnam quis, nisi sint, vel. Officiis libero ullam illum atque distinctio nostrum sunt explicabo natus, dignissimos qui assumenda autem. Ut optio quasi, aperiam reprehenderit aut nisi, harum quia, nihil et accusamus dolores iste delectus maiores.
  //end   content

  include ../sections/footer