extends ../_template

block variables
  - var title = 'Мой род'
  - var pageHeaderTitle = 'Мой род'

block content
  include ../sections/header
  
  //begin content
  section.main.family
    .family__header
      include ../elements/pageHeader

    .container
      // BEGIN family__top 
      section.family__top
        .family__top-block
          .family__top-block--left
            h3.family__title
              |Фамилия моя,
              br
              span Богословская,
            span.family__subtitle очень мне дорога, как и весь мой род. 
          .family__top-block--right
            p По семейной легенде, мой пра-пра-прадед был найден в 3-х летнем возрасте в лесах Северного Кавказа священниками православного монастыря. Взят в монастырь, и в связи с тем, что крещен он был в праздник Святого Иоанна Богослова, фамилией был наречен «Богословский». Потом он стал священником, богословом, женился, имел двоих детей. А после смерти своей жены передал детей на попечение сестры жены и постригсяв монахи... Может, отсюда и мое пристальное внимание к религии и духовным практикам...
    
    .family__text
      .container
        .family__text--left
          p Первые шесть лет моего детства прошли в военном общежитии в Харькове, на ул.Ленина,22, где был огромный коридор, в одном конце которого была общая кухня, а в другом – туалет и душевые.
          p Детский сад, поездки к бабушке «в Липки» (поселок Липовая Роща, который сейчас уже вошел в городскую черту Харькова).
          p Вечная нехватка денег, папа в военной форме, потому что не было хорошего костюма, папина и мамина «работа», куда меня «подпольно» забирали после садика или школы, когда некуда было отдать ребенка… И у папы, и у мамы на работе я научилась быстро прятаться под рабочий стол, когда шло начальство – детей на работе держать было нельзя… 
          p Никогда и ничего нашей семье не «дало» государство, кроме однокомнатной квартиры после 6-ти лет жизни в общежитии… Никогда и ничего никто из нас не украл и не присвоил – всего мы добивались сами, своим трудом и своими мозгами. Это, наверное, главное, что дал мне мой Род. И мне это очень нравится ))).
          p Зачали меня на Балхаше. Родители поженились, и после окончания Военной Академии папу послали на Балхаш. Это озеро, такой «конец географии», военная база в пустыне...
          p Мама поехала к нему. Жили они в большой казарме, где им отгородили «территорию». И мама удочкой давила клопов на потолке... Это был ее жизненный подвиг. В этом подвиге меня и зачали, за что родителям большое спасибо)) 

      // END family__top 
    
    // BEGIN family tab 
    .container.family__tab
      .family__tab-header
        button.family__tab-btn.active(data-tab="father").active Линия отца
        button.family__tab-btn(data-tab="mother") Линия матери
      // BEGIN father tab 
      .family__tab-father.active
        // BEGIN father 
        .family__parents
          .family__parents-left
            h3.family__parents-title
              |Герман Сергеевич
              br
              span Богословский
            h4.family__parents-subtitle Отец
            p  Кадровый военный, преподаватель, дворянских кровей, человек четких и твердых принципов. Широко образованный, по-настоящему культурный, высокоорганизованный и порядочный человек.
          .family__parents--text
            p Родился он в Баку, и в 16 лет, окончив школу (когда он пошел в школу, он был настолько хорошо подготовлен, что его сразу перевели во второй класс), приехал в Харьков и поступил в ВИРТА – выдающуюся военную академию. 
            p Окончил ее «на отлично». Женился стремительно, за 4 месяца, влюбившись в красивую и невероятно энергичную девушку Люсю — мою маму. Увидел из окна своей Академии, как напротив, у противоположного окна «Госпрома» красавица что-то чертит – и «выследил» ее. Красавица, конечно, имела в это время роман, но настойчивый и галантный молодой офицер с блестящим будущим победил… Защитил диссертацию, воевал во Вьетнаме, преподавал в ВИРТА, после увольнения из армии стал деканом по работе с иностранными студентами в Харьковском политехническом институте… 
            p Папа – мой друг. Научил меня плавать, танцевать вальс и бостон, играть в преферанс, стрелять, пить сухое вино, путешествовать, разбираться в литературе, искусстве и оружии, есть всегда вилкой с ножом, интересоваться спортом и политикой… Но главное – иметь стержень и принципы.
        // END father

        // BEGIN grandfather 
        .family__grandparents
          h3.family__grandparents-title
            |Сергей Леонидович
            br
            span Богословский
          h4.family__grandparents-subtitle Дед
          .family__grandparents--text
            p Потрясающей красоты (и телесной, и духовной) человек. Он был высоким блондином с пронзительно яркими голубыми глазами, худой, подтянутый и невероятно обаятельный. Воевал во Вторую мировую… Был одним из лучших картографов своего времени. Наполовину русский, наполовину поляк. Его мама, прабабушка Елизавета, была польской дворянкой, ее семья имела много собственности в Польше и Европе, до сих пор в Варшаве стоит один из домов нашей семьи, не уничтоженный ни войнами, ни временем. 
            p Когда-то меня потрясла одна фотография, на которой прабабушка Елизавета стоит во всей своей потрясающей красоте… 
            p А по русской линии нашим дальним родственником является композитор Никита Богословский (автор прекрасной музыки, в том числе песни «Темная ночь», и жестких каламбуров и афоризмов). Кстати, видно, это семейное – дедушка Сережа тоже постоянно каламбурил. На ходу, спонтанно, блистательно… Я его обожала… Похоже, все женщины – тоже)).
        // END grandfather 

        // BEGIN grandmother
        .family__grandparents
          h3.family__grandparents-title
            |Клара
            br
            span Эрхард
          h4.family__grandparents-subtitle Бабушка
          .family__grandparents--text
            p Чистокровная немка. Очень красивая, с нежным румянцем, даже в старости, с потрясающей кожей, на которой до конца почти не было морщин, с густыми, седыми с молодости волосами… И с горящими карими глазами. Бабушкины прадеды приехали в Россию во времена Екатерины Второй, когда та призвала немцев приезжать осваивать Россию. Это были небогатые немецкие дворяне. Поселились они на Волге, стали «вкалывать» – и уже к концу 19-го века наша семья имела большой пакет акций волжского пароходства, конюшни, пахотные земли и зерновой бизнес, целое родовое поселение… А потом наступило время трагедий для семьи. Все наши родственники-немцы были репрессированы трижды – во время Первой мировой войны, Большевистского переворота и во Вторую мировую. Мой прадед, Генрих Эрхард, был один из 9-ти детей, которые жили в России во времена Первой мировой. Потом все братья разъехались по свету, и мы о них ничего не знаем. А дедушка Генрих принял православие, стал Андреем Ивановичем и переселился в Сумгаит, промышленный город недалеко от Баку. Работал в нефтедобыче, содержал семью…
        // END grandmother
      // END father tab

      // BEGIN mother tab 
      .family__tab-mother
        // BEGIN father 
        .family__parents
          .family__parents-left
            h3.family__parents-title
              |Имя Отчество
              br
              span Богословская
            h4.family__parents-subtitle Мать
            p  Кадровый военный, преподаватель, дворянских кровей, человек четких и твердых принципов. Широко образованный, по-настоящему культурный, высокоорганизованный и порядочный человек.
          .family__parents--text
            p Родился он в Баку, и в 16 лет, окончив школу (когда он пошел в школу, он был настолько хорошо подготовлен, что его сразу перевели во второй класс), приехал в Харьков и поступил в ВИРТА – выдающуюся военную академию. 
            p Окончил ее «на отлично». Женился стремительно, за 4 месяца, влюбившись в красивую и невероятно энергичную девушку Люсю — мою маму. Увидел из окна своей Академии, как напротив, у противоположного окна «Госпрома» красавица что-то чертит – и «выследил» ее. Красавица, конечно, имела в это время роман, но настойчивый и галантный молодой офицер с блестящим будущим победил… Защитил диссертацию, воевал во Вьетнаме, преподавал в ВИРТА, после увольнения из армии стал деканом по работе с иностранными студентами в Харьковском политехническом институте… 
            p Папа – мой друг. Научил меня плавать, танцевать вальс и бостон, играть в преферанс, стрелять, пить сухое вино, путешествовать, разбираться в литературе, искусстве и оружии, есть всегда вилкой с ножом, интересоваться спортом и политикой… Но главное – иметь стержень и принципы.
        // END father

        // BEGIN grandfather 
        .family__grandparents
          h3.family__grandparents-title
            |Сергей Леонидович
            br
            span Богословский
          h4.family__grandparents-subtitle Дед
          .family__grandparents--text
            p Потрясающей красоты (и телесной, и духовной) человек. Он был высоким блондином с пронзительно яркими голубыми глазами, худой, подтянутый и невероятно обаятельный. Воевал во Вторую мировую… Был одним из лучших картографов своего времени. Наполовину русский, наполовину поляк. Его мама, прабабушка Елизавета, была польской дворянкой, ее семья имела много собственности в Польше и Европе, до сих пор в Варшаве стоит один из домов нашей семьи, не уничтоженный ни войнами, ни временем. 
            p Когда-то меня потрясла одна фотография, на которой прабабушка Елизавета стоит во всей своей потрясающей красоте… 
            p А по русской линии нашим дальним родственником является композитор Никита Богословский (автор прекрасной музыки, в том числе песни «Темная ночь», и жестких каламбуров и афоризмов). Кстати, видно, это семейное – дедушка Сережа тоже постоянно каламбурил. На ходу, спонтанно, блистательно… Я его обожала… Похоже, все женщины – тоже)).
        // END grandfather 

        // BEGIN grandmother
        .family__grandparents
          h3.family__grandparents-title
            |Клара
            br
            span Эрхард
          h4.family__grandparents-subtitle Бабушка
          .family__grandparents--text
            p Чистокровная немка. Очень красивая, с нежным румянцем, даже в старости, с потрясающей кожей, на которой до конца почти не было морщин, с густыми, седыми с молодости волосами… И с горящими карими глазами. Бабушкины прадеды приехали в Россию во времена Екатерины Второй, когда та призвала немцев приезжать осваивать Россию. Это были небогатые немецкие дворяне. Поселились они на Волге, стали «вкалывать» – и уже к концу 19-го века наша семья имела большой пакет акций волжского пароходства, конюшни, пахотные земли и зерновой бизнес, целое родовое поселение… А потом наступило время трагедий для семьи. Все наши родственники-немцы были репрессированы трижды – во время Первой мировой войны, Большевистского переворота и во Вторую мировую. Мой прадед, Генрих Эрхард, был один из 9-ти детей, которые жили в России во времена Первой мировой. Потом все братья разъехались по свету, и мы о них ничего не знаем. А дедушка Генрих принял православие, стал Андреем Ивановичем и переселился в Сумгаит, промышленный город недалеко от Баку. Работал в нефтедобыче, содержал семью…
        // END grandmother
      // END mother tab 
    // END family tab 

  //end   content

  include ../sections/footer