extends ../_template

block variables
  - var title = 'Название фотогалереи'
  - var pageHeaderTitle = 'Название фотогалереи'

block content
  include ../sections/header
  
  //begin content
  section.main.gallery-page
    include ../elements/mobileLogo
    include ../elements/pageHeader

    .container.gallery__wrap.gallery
      figure.gallery-item
        .gallery-icon.landscape
          a(href="assets/img/gallery/gallery-01.jpg" data-fancybox="gallery").gallery__item
            img(src="assets/img/gallery-thumb/gallery-thumb-01.jpg", alt="image")
      figure.gallery-item
        .gallery-icon.landscape
          a(href="assets/img/gallery/gallery-02.jpg" data-fancybox="gallery").gallery__item
            img(src="assets/img/gallery-thumb/gallery-thumb-02.jpg", alt="image")
      figure.gallery-item
        .gallery-icon.landscape
          a(href="assets/img/gallery/gallery-03.jpg" data-fancybox="gallery").gallery__item
            img(src="assets/img/gallery-thumb/gallery-thumb-03.jpg", alt="image")
      figure.gallery-item
        .gallery-icon.landscape
          a(href="assets/img/gallery/gallery-04.jpg" data-fancybox="gallery").gallery__item
            img(src="assets/img/gallery-thumb/gallery-thumb-04.jpg", alt="image")
      figure.gallery-item
        .gallery-icon.landscape
          a(href="assets/img/gallery/gallery-05.jpg" data-fancybox="gallery").gallery__item
            img(src="assets/img/gallery-thumb/gallery-thumb-05.jpg", alt="image")
      figure.gallery-item
        .gallery-icon.landscape
          a(href="assets/img/gallery/gallery-06.jpg" data-fancybox="gallery").gallery__item
            img(src="assets/img/gallery-thumb/gallery-thumb-06.jpg", alt="image")
      figure.gallery-item
        .gallery-icon.landscape
          a(href="assets/img/gallery/gallery-07.jpg" data-fancybox="gallery").gallery__item
            img(src="assets/img/gallery-thumb/gallery-thumb-07.jpg", alt="image")
      figure.gallery-item
        .gallery-icon.landscape
          a(href="assets/img/gallery/gallery-08.jpg" data-fancybox="gallery").gallery__item
            img(src="assets/img/gallery-thumb/gallery-thumb-08.jpg", alt="image")
      figure.gallery-item
        .gallery-icon.landscape            
          a(href="assets/img/gallery/gallery-09.jpg" data-fancybox="gallery").gallery__item
            img(src="assets/img/gallery-thumb/gallery-thumb-09.jpg", alt="image")

  //end   content

  include ../sections/footer