extends ../_template

block variables
  - var title = 'Поддержать'
  - var pageHeaderTitle = 'Поддержать'

block content
  include ../sections/header
  
  //begin content
  section.main.help(style="background-image:url('assets/img/bg-help.jpg');")
    include ../elements/pageHeaderCrop

    .help-header__mobile

    .container
      .help__column
        form.send__form
          .send__steps-line
            span.send__step.send__step-01.active 1. Сумма 
            span.send__step.send__step-02 2. Контактные данные 
            span.send__step.send__step-03 3. Оплата
          
          // BEGIN field 01
          .send__field.send__field-01.active
            h3.send__title 
              |Поддержать
              br
              |Инну Богословскую!
            span.send__subtitle Выберите подходящую сумму взноса:
            .send__cash-btn-wrap
              label.send__cash-btn 
                |1000
                =" " 
                span uah
                input(type="radio" name="send" val="1000")
              label.send__cash-btn 
                |900 
                =" "
                span uah
                input(type="radio" name="send" val="900")
              label.send__cash-btn 
                |800 
                =" "
                span uah
                input(type="radio" name="send" val="800")
              label.send__cash-btn 
                |700 
                =" "
                span uah
                input(type="radio" name="send" val="700")
              label.send__cash-btn.active
                |600 
                =" "
                span uah
                input(type="radio" name="send" val="600" checked)
              label.send__cash-btn 
                |550 
                =" "
                span uah
                input(type="radio" name="send" val="550")
              label.send__cash-btn 
                |500 
                =" "
                span uah
                input(type="radio" name="send" val="500")

              input.send__cash-btn-input(type="text" placeholder="сумма:")
            span.send__cash-next(data-send="02") Продолжить
          // END field 01

          // BEGIN field 02
          .send__field.send__field-02
            h3.send__title 
              |Введите ваши
              br
              |данные
            .send__input-wrap
              input.send__input(type="text" placeholder="Имя*" required)
              input.send__input(type="text" placeholder="Контактный телефон")
              input.send__input(type="text" placeholder="Email")

            span.send__cash-next(data-send="04") Продолжить
          // END field 02

          // BEGIN field 03
          .send__field.send__field-04
            .send__liqpay
              img(src="assets/img/liqpay.jpg", alt="pic")
          // END field 04


        .help__text
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum blanditiis praesentium, nobis cumque, sapiente, maxime aut excepturi impedit fuga voluptatum perferendis aperiam quibusdam, hic eaque vero cum et officiis rem.


  //end   content

  include ../sections/footer