extends ../_template

block variables
  - var title = 'Inner'
  - var pageHeaderTitle = 'Внутренняя страница'

block content
  include ../sections/header

  //begin content
  section.main
    .container
  //end   content

  include ../sections/footer
