extends ../_template

block variables
  - var title = 'Моя жизнь'
  - var pageHeaderTitle = 'Моя жизнь'

block content
  include ../sections/header
  
  //begin content
  section.main.life
    include ../elements/pageHeader

    .container.life__wrap
      .life__item.life__item--right
        h3.life__title Рождение
        p.life__text
          |Родилась в г. Харькове 5 августа 1960 года.
          br
          |Шла гроза.

      .life__item.life__item--left
        h3.life__title 
          |Школа, детство
          br
          |и отрочество
        p.life__text Училась в харьковской средней школе N5 с 1967 по 1977 год. Школой жила, школу любила, в школе боролась за уважение учителей к ученикам, за чувство собственного достоинства. Не боялась учителей, завучей и директоров, срывала уроки в знак протеста, добивалась своего.
        a(href="#").life__link Подробнее...

      .life__item.life__item--right
        h3.life__title Институт
        p.life__text Училась в харьковской средней школе N5 с 1967 по 1977 год. Школой жила, школу любила, в школе боролась за уважение учителей к ученикам, за чувство собственного достоинства. Не боялась учителей, завучей и директоров, срывала уроки в знак протеста, добивалась своего.
        a(href="#").life__link Подробнее...

      .life__item.life__item--left
        h3.life__title 
          |Первая любовь 
          br
          |и семья
        p.life__text Училась в харьковской средней школе N5 с 1967 по 1977 год. Школой жила, школу любила, в школе боролась за уважение учителей к ученикам, за чувство собственного достоинства. Не боялась учителей, завучей и директоров, срывала уроки в знак протеста, добивалась своего.
        a(href="#").life__link Подробнее...

      .life__item.life__item--right
        h3.life__title 
          |Любимая и единственная
          br
          |Настенька
        p.life__text Училась в харьковской средней школе N5 с 1967 по 1977 год. Школой жила, школу любила, в школе боролась за уважение учителей к ученикам, за чувство собственного достоинства. Не боялась учителей, завучей и директоров, срывала уроки в знак протеста, добивалась своего.
        a(href="#").life__link Подробнее...

      .life__item.life__item--left
        h3.life__title Школа души
        p.life__text Училась в харьковской средней школе N5 с 1967 по 1977 год. Школой жила, школу любила, в школе боролась за уважение учителей к ученикам, за чувство собственного достоинства. Не боялась учителей, завучей и директоров, срывала уроки в знак протеста, добивалась своего.
        a(href="#").life__link Подробнее...

      .life__item.life__item--right
        h3.life__title Адвокатура
        p.life__text Училась в харьковской средней школе N5 с 1967 по 1977 год. Школой жила, школу любила, в школе боролась за уважение учителей к ученикам, за чувство собственного достоинства. Не боялась учителей, завучей и директоров, срывала уроки в знак протеста, добивалась своего.
        a(href="#").life__link Подробнее...

  //end   content

  include ../sections/footer