extends ../_template

block variables
  - var title = 'План розвитку країни'
  - var pageHeaderTitle = 'План розвитку країни'

block content
  include ../sections/header
  
  //begin content
  section.main.tezis-list
    include ../elements/mobileLogo
    include ../elements/pageHeader

    .container
      .tezis-list__filter
        button.tezis-list__filter-btn(data-tezis="all").active Все тезисы
        button.tezis-list__filter-btn(data-tezis="economic") Экономика
        button.tezis-list__filter-btn(data-tezis="education") Образование
        button.tezis-list__filter-btn(data-tezis="geopolitic") Геополитика
        button.tezis-list__filter-btn(data-tezis="reforms") Реформы
        button.tezis-list__filter-btn(data-tezis="invest") Инвестиции

      .tezis-list__masonry#tezis-list__masonry
        .grid-sizer
        .tezis-list__item.tezis-list__item--economic
          p
            strong 1 Перш за все буде визначений ефективний власник житла та комунального господарства,
            =" "
            |а також ефективний менеджер комунального обслуговування громадян, громадянського суспільства, корпоративного сектора (виробників) і держави.
          a(href="#").tezis-list__link Докладніше...

        .tezis-list__item.tezis-list__item--education
          p
            strong 2 Великий національний бізнес і транснаціональні українські компанії -
            =" "
            |це концентрація великого виробничого, фінансового та інвестиційного ресурсу
          a(href="#").tezis-list__link Докладніше...

        .tezis-list__item.tezis-list__item--geopolitic
          p
            strong 3 Перш за все буде визначений ефективний власник житла та комунального господарства,
            =" "
            |а також ефективний менеджер комунального обслуговування громадян, громадянського суспільства, корпоративного сектора (виробників) і держави.
          a(href="#").tezis-list__link Докладніше...

        .tezis-list__item.tezis-list__item--reforms
          p
            strong 4 Великий національний бізнес і транснаціональні українські компанії -
            =" "
            |це концентрація великого виробничого, фінансового та інвестиційного ресурсу
          a(href="#").tezis-list__link Докладніше...

        .tezis-list__item.tezis-list__item--invest
          p
            strong 5 Перш за все буде визначений ефективний власник житла та комунального господарства,
            =" "
            |а також ефективний менеджер комунального обслуговування громадян, громадянського суспільства, корпоративного сектора (виробників) і держави.
          a(href="#").tezis-list__link Докладніше...
        .tezis-list__item.tezis-list__item--economic
          p
            strong 1 Перш за все буде визначений ефективний власник житла та комунального господарства,
            =" "
            |а також ефективний менеджер комунального обслуговування громадян, громадянського суспільства, корпоративного сектора (виробників) і держави.
          a(href="#").tezis-list__link Докладніше...

        .tezis-list__item.tezis-list__item--education
          p
            strong 2 Великий національний бізнес і транснаціональні українські компанії -
            =" "
            |це концентрація великого виробничого, фінансового та інвестиційного ресурсу
          a(href="#").tezis-list__link Докладніше...

        .tezis-list__item.tezis-list__item--geopolitic
          p
            strong 3 Перш за все буде визначений ефективний власник житла та комунального господарства,
            =" "
            |а також ефективний менеджер комунального обслуговування громадян, громадянського суспільства, корпоративного сектора (виробників) і держави.
          a(href="#").tezis-list__link Докладніше...

        .tezis-list__item.tezis-list__item--reforms
          p
            strong 4 Великий національний бізнес і транснаціональні українські компанії -
            =" "
            |це концентрація великого виробничого, фінансового та інвестиційного ресурсу
          a(href="#").tezis-list__link Докладніше...

        .tezis-list__item.tezis-list__item--invest
          p
            strong 5 Перш за все буде визначений ефективний власник житла та комунального господарства,
            =" "
            |а також ефективний менеджер комунального обслуговування громадян, громадянського суспільства, корпоративного сектора (виробників) і держави.
          a(href="#").tezis-list__link Докладніше...
        .tezis-list__item.tezis-list__item--economic
          p
            strong 1 Перш за все буде визначений ефективний власник житла та комунального господарства,
            =" "
            |а також ефективний менеджер комунального обслуговування громадян, громадянського суспільства, корпоративного сектора (виробників) і держави.
          a(href="#").tezis-list__link Докладніше...

        .tezis-list__item.tezis-list__item--education
          p
            strong 2 Великий національний бізнес і транснаціональні українські компанії -
            =" "
            |це концентрація великого виробничого, фінансового та інвестиційного ресурсу
          a(href="#").tezis-list__link Докладніше...

        .tezis-list__item.tezis-list__item--geopolitic
          p
            strong 3 Перш за все буде визначений ефективний власник житла та комунального господарства,
            =" "
            |а також ефективний менеджер комунального обслуговування громадян, громадянського суспільства, корпоративного сектора (виробників) і держави.
          a(href="#").tezis-list__link Докладніше...

        .tezis-list__item.tezis-list__item--reforms
          p
            strong 4 Великий національний бізнес і транснаціональні українські компанії -
            =" "
            |це концентрація великого виробничого, фінансового та інвестиційного ресурсу
          a(href="#").tezis-list__link Докладніше...

        .tezis-list__item.tezis-list__item--invest
          p
            strong 5 Перш за все буде визначений ефективний власник житла та комунального господарства,
            =" "
            |а також ефективний менеджер комунального обслуговування громадян, громадянського суспільства, корпоративного сектора (виробників) і держави.
          a(href="#").tezis-list__link Докладніше...
        .tezis-list__item.tezis-list__item--economic
          p
            strong 1 Перш за все буде визначений ефективний власник житла та комунального господарства,
            =" "
            |а також ефективний менеджер комунального обслуговування громадян, громадянського суспільства, корпоративного сектора (виробників) і держави.
          a(href="#").tezis-list__link Докладніше...

        .tezis-list__item.tezis-list__item--education
          p
            strong 2 Великий національний бізнес і транснаціональні українські компанії -
            =" "
            |це концентрація великого виробничого, фінансового та інвестиційного ресурсу
          a(href="#").tezis-list__link Докладніше...

        .tezis-list__item.tezis-list__item--geopolitic
          p
            strong 3 Перш за все буде визначений ефективний власник житла та комунального господарства,
            =" "
            |а також ефективний менеджер комунального обслуговування громадян, громадянського суспільства, корпоративного сектора (виробників) і держави.
          a(href="#").tezis-list__link Докладніше...

        .tezis-list__item.tezis-list__item--reforms
          p
            strong 4 Великий національний бізнес і транснаціональні українські компанії -
            =" "
            |це концентрація великого виробничого, фінансового та інвестиційного ресурсу
          a(href="#").tezis-list__link Докладніше...

        .tezis-list__item.tezis-list__item--invest
          p
            strong 5 Перш за все буде визначений ефективний власник житла та комунального господарства,
            =" "
            |а також ефективний менеджер комунального обслуговування громадян, громадянського суспільства, корпоративного сектора (виробників) і держави.
          a(href="#").tezis-list__link Докладніше...
        .tezis-list__item.tezis-list__item--economic
          p
            strong 1 Перш за все буде визначений ефективний власник житла та комунального господарства,
            =" "
            |а також ефективний менеджер комунального обслуговування громадян, громадянського суспільства, корпоративного сектора (виробників) і держави.
          a(href="#").tezis-list__link Докладніше...

        .tezis-list__item.tezis-list__item--education
          p
            strong 2 Великий національний бізнес і транснаціональні українські компанії -
            =" "
            |це концентрація великого виробничого, фінансового та інвестиційного ресурсу
          a(href="#").tezis-list__link Докладніше...

        .tezis-list__item.tezis-list__item--geopolitic
          p
            strong 3 Перш за все буде визначений ефективний власник житла та комунального господарства,
            =" "
            |а також ефективний менеджер комунального обслуговування громадян, громадянського суспільства, корпоративного сектора (виробників) і держави.
          a(href="#").tezis-list__link Докладніше...

        .tezis-list__item.tezis-list__item--reforms
          p
            strong 4 Великий національний бізнес і транснаціональні українські компанії -
            =" "
            |це концентрація великого виробничого, фінансового та інвестиційного ресурсу
          a(href="#").tezis-list__link Докладніше...

        .tezis-list__item.tezis-list__item--invest
          p
            strong 5 Перш за все буде визначений ефективний власник житла та комунального господарства,
            =" "
            |а також ефективний менеджер комунального обслуговування громадян, громадянського суспільства, корпоративного сектора (виробників) і держави.
          a(href="#").tezis-list__link Докладніше...

    include ../elements/pagination
  //end   content

  include ../sections/footer