extends ../_template

block variables
  - var title = 'План розвитку країни'
  - var pageHeaderTitle = 'План розвитку країни'

block content
  include ../sections/header
  
  //begin content
  section.main.tezis-list
    include ../elements/mobileLogo
    include ../elements/pageHeader

    .container
      .tezis-list__filter
        span.tezis-list__filter-btn.active Все тезисы
        span.tezis-list__filter-btn Экономика
        span.tezis-list__filter-btn Образование
        span.tezis-list__filter-btn Геополитика
        span.tezis-list__filter-btn Реформы
        span.tezis-list__filter-btn Инвестиции

      .tezis-list__masonry
        .grid-sizer
        .tezis-list__item
          p
            strong Перш за все буде визначений ефективний власник житла та комунального господарства,
            =" "
            |а також ефективний менеджер комунального обслуговування громадян, громадянського суспільства, корпоративного сектора (виробників) і держави.
          a(href="#").tezis-list__link Докладніше...

        .tezis-list__item
          p
            strong Великий національний бізнес і транснаціональні українські компанії -
            =" "
            |це концентрація великого виробничого, фінансового та інвестиційного ресурсу
          a(href="#").tezis-list__link Докладніше...
        .tezis-list__item
          p
            strong Перш за все буде визначений ефективний власник житла та комунального господарства,
            =" "
            |а також ефективний менеджер комунального обслуговування громадян, громадянського суспільства, корпоративного сектора (виробників) і держави.
          a(href="#").tezis-list__link Докладніше...

        .tezis-list__item
          p
            strong Великий національний бізнес і транснаціональні українські компанії -
            =" "
            |це концентрація великого виробничого, фінансового та інвестиційного ресурсу
          a(href="#").tezis-list__link Докладніше...
        .tezis-list__item
          p
            strong Перш за все буде визначений ефективний власник житла та комунального господарства,
            =" "
            |а також ефективний менеджер комунального обслуговування громадян, громадянського суспільства, корпоративного сектора (виробників) і держави.
          a(href="#").tezis-list__link Докладніше...

        .tezis-list__item
          p
            strong Великий національний бізнес і транснаціональні українські компанії -
            =" "
            |це концентрація великого виробничого, фінансового та інвестиційного ресурсу
          a(href="#").tezis-list__link Докладніше...
        .tezis-list__item
          p
            strong Перш за все буде визначений ефективний власник житла та комунального господарства,
            =" "
            |а також ефективний менеджер комунального обслуговування громадян, громадянського суспільства, корпоративного сектора (виробників) і держави.
          a(href="#").tezis-list__link Докладніше...

        .tezis-list__item
          p
            strong Великий національний бізнес і транснаціональні українські компанії -
            =" "
            |це концентрація великого виробничого, фінансового та інвестиційного ресурсу
          a(href="#").tezis-list__link Докладніше...
        .tezis-list__item
          p
            strong Перш за все буде визначений ефективний власник житла та комунального господарства,
            =" "
            |а також ефективний менеджер комунального обслуговування громадян, громадянського суспільства, корпоративного сектора (виробників) і держави.
          a(href="#").tezis-list__link Докладніше...

        .tezis-list__item
          p
            strong Великий національний бізнес і транснаціональні українські компанії -
            =" "
            |це концентрація великого виробничого, фінансового та інвестиційного ресурсу
          a(href="#").tezis-list__link Докладніше...
        .tezis-list__item
          p
            strong Перш за все буде визначений ефективний власник житла та комунального господарства,
            =" "
            |а також ефективний менеджер комунального обслуговування громадян, громадянського суспільства, корпоративного сектора (виробників) і держави.
          a(href="#").tezis-list__link Докладніше...

        .tezis-list__item
          p
            strong Великий національний бізнес і транснаціональні українські компанії -
            =" "
            |це концентрація великого виробничого, фінансового та інвестиційного ресурсу
          a(href="#").tezis-list__link Докладніше...

    include ../elements/pagination
  //end   content

  include ../sections/footer