// core
@import 'core/fonts';
@import 'core/variables';
@import 'core/mixins';
@import 'core/base';

//elements
@import 'elements/breadcrumbs';
@import 'elements/burger';
@import 'elements/checkbox';
@import 'elements/menu';
@import 'elements/mobileLogo';
@import 'elements/pageHeader';
@import 'elements/popup';
@import 'elements/radio';
@import 'elements/send';
// @import 'elements/pagination';
// @import 'elements/slickBase';
// @import 'elements/stickyHeader';

//section
@import 'sections/footer';
@import 'sections/header';

//pages
@import 'pages/index';
@import 'pages/blog';
@import 'pages/book';
@import 'pages/connect';
@import 'pages/gallery';
@import 'pages/gallery-list';
@import 'pages/family';
@import 'pages/help';
@import 'pages/life';
@import 'pages/tezis';
@import 'pages/tezis-list';