.connect {
  background-color: #f0f0f0;
}
.connect__header {
  position: relative;
  height: 400px;
  background-repeat: no-repeat;
  background-position: 00% 50%;
  background-size: cover;

  @include max(560) {
    height: 300px;
  }
  @include max(425) {
    height: 250px;
  }
  .breadcrumbs__link {
    color: #b4b4b4;
  }
}
.connect__top-title--wrap {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  transform: translateY(-50%);
  text-align: center;
}
.connect__top-title {
  font-family: $font-l-black;
  font-size: 41px;
  line-height: 1.2;
  display: inline-block;
  margin-bottom: 5px;
  padding: 0 5px;
  text-align: center;
  text-transform: uppercase;
  color: #6a4c91;
  background-color: #fff;

  @include max(560) {
    font-size: 34px;
  }
  @include max(425) {
    font-size: 28px;
  }
}
.connect-form__container {
  max-width: 730px;
}
.connect__title {
  font-family: $font-l-bold;
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 20px;

  @include max(425) {
    font-size: 20px;
  }
}
.connect__subtitle {
  font-family: $font-l-bold;
  font-size: 14px;
  line-height: 1.35;
  display: inline-block;
  margin-bottom: 50px;

  @include max(425) {
    font-size: 12px;
  }
}

//BEGIN form
.connect__form {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-bottom: 20px;
  input[type=text] {
    font-family: $font-l;
    font-size: 15px;
    line-height: 30px;
    position: relative;
    width: 100%;
    height: 45px;
    margin-right: 15px;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    background-color: #fff;

    @include placeholder-color(#a5a5a5);
    @include max(320) {
      font-size: 14px;
    }
  }
}
.ui-selectmenu-button.ui-button {
  font-size: 15px;
  line-height: 30px;
  width: 100%;
  max-width: 100%;
  margin-right: 15px;
  color: #a5a5a5;
  border: 1px solid #e1e1e1;
  outline: none;
  background-color: #fff;
  &::before {
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    width: 10px;
    height: 7px;
    margin: auto;
    content: '';
    background-image: url('../img/arr-down.png');
  }
}
// BEGIN хак что бы убрать пару ошибок в консоли
.ui-button:active .ui-icon,
.ui-state-active .ui-icon,
.ui-button .ui-icon {
  background-image: url('../img/arr-down.png');
}
// END хак что бы убрать пару ошибок в консоли
.ui-menu-item-wrapper.ui-state-active {
  border-color: $brand-color;
  background-color: $brand-color;
}
.ui-widget.ui-widget-content {
  max-height: 297px;
  border: 1px solid #adadad;
  background-color: #fff;
}
.ui-menu .ui-menu-item {
  padding: 0;
}
.connect__form-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
  .f-2 {
    width: 48%;
  }
}

.connect__form-row-half {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-bottom: 15px;

  @include max(660) {
    width: 100%;
  }
  input[type='text'].f-2 {
    width: 50%;
  }
  .ui-selectmenu-text {
    margin-right: 0;
  }
}
.connect-row__title {
  position: relative;
  padding-top: 25px;
  .connect-row__title-text {
    font-family: $font-l-bold;
    font-size: 16px;
    line-height: 1;
    position: absolute;
    top: 0;
    left: 0;
    color: #000;
  }
}
.connect-row__title-email {
  @include max(660) {
    padding-top: 0;
  }
}
.connect-form__submit-row {
  width: 100%;
  text-align: center;
}
.connect-form__submit {
  font-family: $font-l-bold;
  font-size: 18px;
  line-height: 64px;
  display: inline-block;
  width: 100%;
  max-width: 300px;
  height: 64px;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all .5s;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-radius: 3px;
  background-color: #974cad;
  &:hover {
    background-color: #662479;
    box-shadow: 0 4px 6px rgba(69, 17, 85, .51);
  }
}
//END form
