.gallery-page {
  background-color: #f0f0f0;
}
.gallery__wrap {
  display: flex;
  flex-wrap: wrap;

  @include max(768) {
    justify-content: space-between;
  }
}
.gallery-page figure {
  position: relative;
  overflow: hidden;
  width: 31.6%;
  height: 232px;
  margin: 0 2.6% 26px 0;
  transition: box-shadow .5s;
  background-color: #d5dadb;

  @include max(768) {
    width: 48%;
    margin-right: 0;
  }
  @include max(480) {
    width: 100%;
  }
  img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    margin: auto;

    object-fit: cover;
  }
  &:nth-child(3n) {
    margin-right: 0;
  }
  &:hover {
    box-shadow: 0 2px 24px rgba(69, 17, 85, .3);
  }
}
