.help {
  background-color: #f0f0f0;
  background-repeat: no-repeat;
  background-position: 0 40%;
  background-size: cover;

  @include max(850) {
    background-position: 20% 0;
  }
  @include max(660) {
    background-image: none !important;
  }
}
.help-header__mobile {
  display: none;
  height: 250px;
  margin-bottom: -15px;
  background-image: url('../img/bg-help.jpg');
  background-repeat: no-repeat;
  background-position: 100% 30%;
  background-size: cover;

  @include max(660) {
    display: block;
  }
}
.help__column {
  width: 445px;

  @include max(660) {
    width: 100%;
  }
}

.help__text {
  p {
    font-family: $font-light;
    font-size: 15px;
    line-height: 22px;
    color: #000;
  }
}
