.tezis-list {
  min-height: calc(100vh - 272px);
  background-color: #f0f0f0;
}
.tezis-list__filter {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}
.tezis-list__filter-btn {
  font-family: $font-l;
  font-size: 18px;
  line-height: 48px;
  height: 48px;
  margin-right: 15px;
  margin-bottom: 15px;
  padding: 0 30px;
  cursor: pointer;
  transition: all .5s;
  text-decoration: none;
  color: #fff;
  border: none;
  border-radius: 3px;
  background-color: #cfcfcf;

  @include max(768) {
    font-size: 16px;
    line-height: 40px;
    height: 40px;
    padding: 0 15px;
  }
  &:hover {
    color: #fff;
    background-color: #662479;
  }
  &.active {
    background-color: #974cad;
    box-shadow: none;
  }
}

.grid-sizer,
.tezis-list__item {
  width: 22.9%;

  @include max(1090) {
    width: 31.4%;
  }
  @include max(1047) {
    width: 31%;
  }
  @include max(873) {
    width: 48%;
  }
  @include max(755) {
    width: 100%;
  }
}
.tezis-list__item {
  margin-bottom: 30px;
  padding: 25px;
  border-bottom: 4px solid #974cad;
  background-color: #fff;
}
